h1{
    color: orangered;
    margin-bottom: -5px;
}
P{
    margin-button: -10px;
}
.ui{
    display: flex;
    flex-direction: column;
    align-items: center ;
}
.row{
    display: flex;
}
.cell{
    border
}